/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
     font-family: 'Indie Flower', cursive;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* LAYOUT
/*******************************************/
section{
  height: 250px;
  border: 1px solid white;
}

/* MOBILE */
@media only screen and (max-width: 768px){

}
@media (min-width: 769px) and (max-width: 1024px){
  section{
    width: 100%;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.main{
  height: 800px;
  background: url("../notepad.png");
  background-size: 750px 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFFE92;
}
h2{
  width: 50%;
  margin-left: 40%;
  margin-top: 140px;
  font-weight: bold;
  font-size: 35px;
}
.student, .list{
  width: 40%;
  margin-left: 29%;
  text-align: center;
  border: none;
  font-size: 22px;
}
.list ul {
  list-style-position: inside;
  text-align: left;
  margin-left: 10%;
}
.student{
  height: 50px;
}
input{
  font-size: 16px;
  font-weight: bold;
}
button{
  background: lightblue;
  color: black;
  border: none;
  font-weight: bold;
  font-size: 16px;
}
#button{
  font-size: 22px;
}
